#mainHeader {
    text-align: center;
    color: whitesmoke;
}

.center {
    text-align: center;
    width: 100%;
    display: inline-block;
}

button {
    position: relative;
    display:block;
    height: 45px;
    width: 80%;
    margin: 10px 7px;
    padding: 5px 5px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #383736;
    border: solid 4px #535354;
    border-radius: 8px;
    text-transform: uppercase;
    text-align: center;
    outline: 0;
    overflow:hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
  }

.mainBtn {
    height: 50px;
    width:80%;
    border-radius: 8px;
    background-color: #ffffff;
    display: inline-block;
}

.mainBtn:hover {
    color: whitesmoke;
}

.mainBtn:before {
    content: "";
    position: absolute;
    background: #535354;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
}

.mainBtn:hover:before {
    top: 0;
}

.columnHeader {
    width: 100%; 
    display: inline-block; 
    border-bottom: solid 2px black;
}

.homeCol {
    display: inline-block;
    width: 30%;
    border: solid 4px black;
    border-radius: 4px;
    vertical-align: top;
    background: #ffffff;
}

.topBar {
    text-align: center;
    width: 100%;
    display: inline-block;
    background-color: #AA0D36;
    height: 80px;
    border-bottom: solid 2px black;
}

.homeBody {
    margin-top: 2%;
}


body {
    background-color: #badce6;
}

.mainBox {

}

#btnHeader { 

}