{% extends "bootstrap/base.html" %} {% block doc %} {{super()}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Static Code Checker</title>

    {% assets "index_js" %}
    <script type="text/javascript" , src="{{ ASSET_URL }}"></script>
    {% endassets %} {% assets "index_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" /> {% endassets %}

</head>

<body id="mainBody" class="animated slideInDown">
    <div>
        <div class="center">
            <div class="topBar">
                <h1 id="mainHeader"><div id="homeButton" onclick="navigatePages(5)">Static Code Checker</div></h1>
                
            </div>
        </div>
        <div class="animated fadeIn">
            <div class="center">
                <div class="homeBody">
                    <div class="btnCols">
                        <div class="homeCol">
                            <h1 class="btnHeader" style="width: 100%; display: inline-block; border-bottom: solid 2px black;">Students</h1>
                            <div class="mainBox">
                                <h3>You will need:</h4>
                                <ul>
                                    <li>Input File</li>
                                    <li>Output File</li>
                                    <li>Code File</li>
                                </ul>
                            </div>
                            <button id="studentBtn" class="mainBtn" onclick="navigatePages(1)">I am a student</button>
                        </div>
                        <div class="homeCol">
                            <h1 class="btnHeader" style="width: 100%; display: inline-block; border-bottom: solid 2px black;">Teachers</h1>
                            <div class="mainBox">
                                <h3>You will need:</h4>
                                <ul>
                                    <li>Input File</li>
                                    <li>Output File</li>
                                    <li>Code File</li>
                                </ul>
                            </div>
                            <button id="teacherBtn" class="mainBtn" onclick="navigatePages(2)">I am a teacher</button>
                        </div> 
                        <div class="homeCol">
                            <h1 class="btnHeader" style="width: 100%; display: inline-block; border-bottom: solid 2px black;">Interviewers</h1>
                            <div class="mainBox">
                                <h3>You will need:</h4>
                                <ul>
                                    <li>Input File</li>
                                    <li>Output File</li>
                                    <li>Interviewee Code File</li>
                                </ul>
                            </div>
                            <button id="interviewerBtn" class="mainBtn" onclick="navigatePages(3)">I am an interviewer</button>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>

</html>
{% endblock %}