{% extends "bootstrap/base.html" %} {% block doc %} {{super()}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Static Code Checker</title>

    {% assets "index_js" %}
    <script type="text/javascript" , src="{{ ASSET_URL }}"></script>
    {% endassets %} {% assets "index_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" /> {% endassets %}

</head>

<body>
    <div>
        <div class="center">
            <h1 id="mainHeader">Static Code Checker</h1>
            <hr />
        </div>
        <div class="center">
            <div class="homeCol">
                <button id="studentBtn" class="mainBtn row" onclick="navigatePages(1)">I am a student</button>
            </div>
            <div class="homeCol">
                <button id="teacherBtn" class="mainBtn" onclick="navigatePages(2)">I am a teacher</button>
            </div> 
            <div class="homeCol">
                <button id="interviewerBtn" class="mainBtn" onclick="navigatePages(3)">I am an interviewer</button>
            </div> 
        </div>
    </div>
</body>

</html>
{% endblock %}