{% extends "bootstrap/base.html" %} {% block doc %} {{super()}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Static Code Checker</title>

    {% assets "interviewee_js" %}
    <script type="text/javascript" , src="{{ ASSET_URL }}"></script>
    {% endassets %} {% assets "interviewee_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" /> {% endassets %}
</head>

<body>
    <div>
        <!--These inputs are hidden from the ui and are used with the buttons to allow for the user to navigate through file explorer for inputs-->
        <input id="intervieweeCodeFile" type="file" style="display:none;" />

        <div class="center">
            <h1 id="interviewerHeader">Interviewee</h1>
        </div>
        <button id="interviewerCodeBtn" onclick="document.getElementById('intervieweeCodeFile').click();">Code</button>
        <br>
        <textarea id="intervieweeTextArea" rows="10" cols="150"></textarea>
        <br>
        <button id="interviewerContBtn" onclick="">Continue</button>
    </div>
</body>

</html>
{% endblock %}