{% extends "bootstrap/base.html" %} {% block doc %} {{super()}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Static Code Checker</title>

    {% assets "interviewee_js" %}
    <script type="text/javascript" , src="{{ ASSET_URL }}"></script>
    {% endassets %} {% assets "interviewee_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" /> {% endassets %}
</head>

<body>
    <div>
        <!--These inputs are hidden from the ui and are used with the buttons to allow for the user to navigate through file explorer for inputs-->
        <input id="intervieweeCodeFile" type="file" style="display:none;" />

        <div class="center">
            <h1 id="interviewerHeader">Interviewee</h1>
            <hr />
        </div>
        <div class="center">
            <div class="intervieweeCol">
                <button id="intervieweeCodeBtn" class="intervieweeBtn" onclick="document.getElementById('intervieweeCodeFile').click();">Code</button>
            </div>
            <div>
                <textarea id="intervieweeTextArea" class="intervieweeText" rows="20" cols="220"></textarea>
            </div>
            <div>
                <button id="intervieweeRunBtn" onclick="">Run</button>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}