{% extends "bootstrap/base.html" %} {% block doc %} {{super()}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Static Code Checker</title>

    {% assets "student_js" %}
    <script type="text/javascript" , src="{{ ASSET_URL }}"></script>
    {% endassets %} {% assets "student_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" /> {% endassets %}
</head>

<body>
    <div>
        <!--These inputs are hidden from the ui and are used with the buttons to allow for the user to navigate through file explorer for inputs-->
        <form action="{{ url_for('students') }}" method="POST">
            <input id="studentInputFile" type="file" style="display:none;" name="args" />
            <input id="studentOutputFile" type="file" style="display:none;" name="output" />
            <input id="studentCodeFile" type="file" onchange="populateTetFromFile()" style="display:none;" name="program" />

            <div class="center">
                <div class="topBar">
                    <h1 id="studentHeader">Student</h1>
                </div>
            </div>
            <div class="center">
                <div class="studentBody">
                    <div class="studentCol">
                        <button id="studentInputBtn" class="studentBtn" onclick="document.getElementById('studentInputFile').click();">Input</button>
                        <p>{{ input_file }}</p>
                    </div>
                    <div class="studentCol">
                        <button id="studentOutputBtn" class="studentBtn" onclick="document.getElementById('studentOutputFile').click();">Output</button>
                        <p>{{ output_file }}</p>
                    </div>
                    <div class="studentCol">
                        <button id="studentCodeBtn" class="studentBtn" onclick="document.getElementById('studentCodeFile').click();">Code</button>
                        <p>{{ code_file }}</p>
                    </div>
                    <div>
                        <textarea id="studentTextArea" class="studentText" rows="20" cols="220">{{ code_contents }}</textarea>
                    </div>
                    <div>
                        <input id="studentRunBtn" type="submit" value="Run">
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>
{% endblock %}