{% extends "bootstrap/base.html" %} {% block doc %} {{super()}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Static Code Checker</title>

    {% assets "teacher_js" %}
    <script type="text/javascript" , src="{{ ASSET_URL }}"></script>
    {% endassets %} {% assets "teacher_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" /> {% endassets %}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

</head>

<body>
    <div>
        <!--These inputs are hidden from the ui and are used with the buttons to allow for the user to navigate through file explorer for inputs-->
        <input id="teacherInputFile" type="file" style="display:none;" />
        <input id="teacherOutputFile" type="file" style="display:none;" />
        <input id="teacherCodeFile" type="file" style="display:none;" />

        <div class="center">
            <div class="topBar">
                <h1 id="teacherHeader">Teacher</h1>
            </div>
        </div>

        <!--
            This is the template
            We have to match it back to a python function it will look like bellow
            the options are: url_for() with the args: code_file_select, input_file_select, output_file_select,
            each followed with _<page>: student, teacher, interviewer, interviewee 
        -->

        <div class="center">
            <div class="teacherBody">
                <div class="teacherCol">
                    <form action="{{ url_for('input_file_select_teacher') }}" method="POST">
                        <input id="teacherInputBtn" class="teacherBtn" type="submit" value="Input">
                    </form>
                </div>
                <div class="teacherCol">
                    <form action="{{ url_for('output_file_select_teacher') }}" method="POST">
                        <input id="teacherInputBtn" class="teacherBtn" type="submit" value="Output">
                    </form>

                </div>
                <div class="teacherCol">
                    <form action="{{ url_for('code_file_select_teacher') }}" method="POST">
                        <input id="teacherInputBtn" class="teacherBtn" type="submit" value="Code">
                    </form>

                </div>
                <div>
                    <textarea id="teacherTextArea" class="teacherText" rows="20" cols="220"></textarea>
                </div>
                <div>
                    <button id="teacherRunBtn" onclick="">Run</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}