<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Static Code Checker</title>
        
        {% assets "teacher_js" %}
        <script type="text/javascript", src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% assets "teacher_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
        {% endassets %}
    </head>

    <body>
        <div>
            <div class="center">
                <h1 id="mainHeader">Static Code Checker</h1>
            </div>
            <button id="studentBtn" onclick="navigatePages(1)">I am a student</button>
            <br>
            <button id="teacherBtn" onclick="navigatePages(2)">I am a teacher</button>
            <br>
            <button id="interviewerBtn" onclick="navigatePages(3)">I am an interviewer</button>
            <br>
            <button id="intervieweeBtn" onclick="navigatePages(4)">I am an interviewee</button>
        </div>
    </body>

</html>