.center {
    text-align: center;
    width: 100%;
    display: inline-block;
}

#studentHeader {
    text-align: center;
    color: whitesmoke;
}

.studentCol {
    display: inline-block;
    width: 30%;
}

.studentBtn {
    height:50px;
    width: 70%;
    border-radius: 8px;
    background-color: #535354;
    display: inline-block;
    color: whitesmoke;
    cursor: pointer;
}

.topBar {
    text-align: center;
    width: 100%;
    display: inline-block;
    background-color: #AA0D36;
    height: 80px;
    border-bottom: solid 2px black;
}

.studentBody {
    margin-top: 2%;
}

.studentText {
    margin-top: 2%;
}

#studentRunBtn {
    display: inline-block;
    width: 15%;
    height: 50px;
    border-radius: 8px;
    background-color: #535354;
    color: whitesmoke;
    cursor: pointer;
}

body {
    background-color: #badce6;
}